.canvas {
    -fx-border-radius: 5;
    -fx-background-color: #ffffff;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 0);
}

.headerPane {
    -fx-background-color: #667302;
}

.gameButtons {
    -fx-background-color: #4368DC;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 0);
    -fx-background-radius: 5;
}

.gameButtons:hover {
    -fx-background-color: #507CFF;
}